HSPDService/Connected Services/ServiceReference/WeighService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetWeight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetWeightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetWeightResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetWeightResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetWeightSoapIn">
    <wsdl:part name="parameters" element="tns:SetWeight" />
  </wsdl:message>
  <wsdl:message name="SetWeightSoapOut">
    <wsdl:part name="parameters" element="tns:SetWeightResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeightSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeight" />
  </wsdl:message>
  <wsdl:message name="GetWeightSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeightResponse" />
  </wsdl:message>
  <wsdl:portType name="WeighServiceSoap">
    <wsdl:operation name="SetWeight">
      <wsdl:input message="tns:SetWeightSoapIn" />
      <wsdl:output message="tns:SetWeightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeight">
      <wsdl:input message="tns:GetWeightSoapIn" />
      <wsdl:output message="tns:GetWeightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeighServiceSoap" type="tns:WeighServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetWeight">
      <soap:operation soapAction="http://tempuri.org/SetWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeight">
      <soap:operation soapAction="http://tempuri.org/GetWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeighServiceSoap12" type="tns:WeighServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetWeight">
      <soap12:operation soapAction="http://tempuri.org/SetWeight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeight">
      <soap12:operation soapAction="http://tempuri.org/GetWeight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeighService">
    <wsdl:port name="WeighServiceSoap" binding="tns:WeighServiceSoap">
      <soap:address location="http://120.79.19.165/HSJQ/api/WeighService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeighServiceSoap12" binding="tns:WeighServiceSoap12">
      <soap12:address location="http://120.79.19.165/HSJQ/api/WeighService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>